# Coursera Applied Dtat Science Capstone
## Week 3 - Segmenting and Clustering Neighborhoods in Toronto

In this assignment, we will be required to explore, segment, and cluster the neighborhoods in the city of Toronto.

## 1. Data Scraping

Download dependencies needed to scrape Wikipedia data

In [1]:
!pip install beautifulsoup4
!pip install lxml
import requests
import pandas as pd
from bs4 import BeautifulSoup

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (1.9.2)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.0)

In [2]:
# set the URL for the data and request it
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
print(url)

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

### Create the Initial DataFrame

First need to define the URL for the data then use HTMLTableParser class to locate the target table in the URL then create the BeautifulSoup object and initial DataFrame.

In [3]:
# Define function to get table data
# base clase https://srome.github.io/Parsing-HTML-Tables-in-Python-with-BeautifulSoup-and-pandas/ with modifications
    
class HTMLTableParser:
       
    def parse_url(self, url, filter=''):
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        return [(table,self.parse_html_table(table))\
                for table in soup.find_all('table', filter)]  

    def parse_html_table(self, table):
        n_columns = 0
        n_rows=0
        column_names = []

        # Find number of rows and columns
        # we also find the column titles if we can
        for row in table.find_all('tr'):

            # Determine the number of rows in the table
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows+=1
                if n_columns == 0:
                    # Set the number of columns for our table
                    n_columns = len(td_tags)

            # Handle column names if we find them
            th_tags = row.find_all('th') 
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags:
                    column_names.append(th.get_text(strip=True))

        # Safeguard on Column Titles
        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("Column titles do not match the number of columns")

        columns = column_names if len(column_names) > 0 else range(0,n_columns)
        df = pd.DataFrame(columns = columns,
                          index= range(0,n_rows))
        row_marker = 0
        for row in table.find_all('tr'):
            column_marker = 0
            columns = row.find_all('td')
            for column in columns:
                df.iat[row_marker,column_marker] = column.get_text(strip=True)
                column_marker += 1
            if len(columns) > 0:
                row_marker += 1

        # Convert to float if possible
        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass

        return df

In [4]:
# Initialize the clase and pass in target URL and table filter
hp = HTMLTableParser()
df_base = hp.parse_url(url,'wikitable')[0][1] # Grabbing the table from the tuple
# rename the Neighbourhood column
df_base.rename(columns={'Neighbourhood' : 'Neighborhood'}, errors='raise', inplace=True)
print(df_base.shape)
df_base.head(10)

(288, 3)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

### Cleanup DataFrame

The Rubric the the project has the following requirements for data:

- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

#### Not Assigned Boroughs

In [5]:
# Check number of not assigned boroughs
not_assigned = df_base[df_base.Borough.str.lower() == 'not assigned']
not_assigned.shape

(77, 3)

In [6]:
# Remove rows without assigned borough.
df_borough = df_base[df_base.Borough.str.lower() != 'not assigned']
df_borough.reset_index(drop=True, inplace=True)
print(df_borough.shape)
df_borough.head(10)

(211, 3)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

#### Not Assigend Neighborhoods

Need to deal with not assigned neighborhoods before joining neighborhoods by postcode.

In [7]:
# Check number of not assigned neighborhoods
not_assigned_n = df_borough[df_borough.Neighborhood.str.lower() == 'not assigned']
print(not_assigned_n.shape)
not_assigned_n

(1, 3)

  Postcode       Borough  Neighborhood
6      M7A  Queen's Park  Not assigned

In [8]:
# Assign borough name to not assigned neighborhoods
df_neighborhoods = df_borough.copy()

df_neighborhoods.loc[not_assigned_n.index.tolist(),'Neighborhood'] = df_neighborhoods.loc[not_assigned_n.index.tolist(),'Borough']
df_neighborhoods.iloc[not_assigned_n.index.tolist()]

  Postcode       Borough  Neighborhood
6      M7A  Queen's Park  Queen's Park

#### Joining Neighborhoods

In [9]:
# Determine the number of duplicate postcodes - duplicated count doesn't include first occurance
df_notunique = df_neighborhoods[df_neighborhoods.duplicated('Postcode','first')]
df_notunique.shape

(108, 3)

In [10]:
df_toronto = df_neighborhoods.groupby('Postcode').agg({'Postcode' : 'first', 'Borough' : 'first', 'Neighborhood' : ', '.join})
print(df_toronto.shape)
df_toronto.reset_index(drop=True, inplace=True)
df_toronto.head(10)

(103, 3)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [11]:
df_toronto.shape

(103, 3)

In [12]:
df_toronto.tail(5)

    Postcode    Borough                                       Neighborhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

## 2. Get Geographic Coordinates for Toronto Boroughs

### Use CSV for Coordinates - Using Both Geocoder and Geopy Failed

Download CSV with coordinate data for postal codes

In [13]:
df_coordinates = pd.read_csv('https://cocl.us/Geospatial_data')
# rename our target column
df_coordinates.rename(columns={'Postal Code':'Postcode'}, inplace=True)
print(df_coordinates.shape)
df_coordinates.head(10)

(103, 3)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476
5      M1J  43.744734 -79.239476
6      M1K  43.727929 -79.262029
7      M1L  43.711112 -79.284577
8      M1M  43.716316 -79.239476
9      M1N  43.692657 -79.264848

In [14]:
df_coordinates.tail(5)

    Postcode   Latitude  Longitude
98       M9N  43.706876 -79.518188
99       M9P  43.696319 -79.532242
100      M9R  43.688905 -79.554724
101      M9V  43.739416 -79.588437
102      M9W  43.706748 -79.594054

In [15]:
# Merge the Lat/Long data to dataframe
df_neighborhoods = df_toronto.merge(df_coordinates, on='Postcode', how='inner')
df_neighborhoods.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

## 3. Cluster Toronto Neighborhoods

Download all dependencies needed to retrieve Foursquare data and run clustering analysis.

In [16]:
# Display a list of Boroughs
print(df_neighborhoods['Borough'].unique().tolist())

['Scarborough', 'North York', 'East York', 'East Toronto', 'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto', "Queen's Park", 'Mississauga', 'Etobicoke']

In [17]:
import numpy as np # library to handle data in a vectorized manner

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

# Python-dotenv to read credentials from .env file
!pip install -U python-dotenv
%reload_ext dotenv
%dotenv ./.env
import os

print('Libraries imported.')

Requirement already up-to-date: python-dotenv in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.10.3)
Libraries imported.

### Create a dataframe of the Boroughs that contain Toronto in their name.

In [18]:
# Reduce the neighborhoods data to only boroughs with Toronto in the name
df_toronto_data = df_neighborhoods[df_neighborhoods.Borough.str.contains('Toronto').reset_index(drop=True)]
print(df_toronto_data.shape)
df_toronto_data.head()

(38, 5)

,Postcode,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

### Define Foursquare Credentials and Version

In [19]:
CLIENT_ID = os.getenv("FS_CLIENT_ID") # your Foursquare ID from .env file
CLIENT_SECRET = os.getenv("FS_CLIENT_SECRET") # your Foursquare Secret from .env file
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DZ0MWIAQAFMC2HY4Q1AAAC12QATROODCK3UH42V0VILUDW0E
CLIENT_SECRET:N1Z12FH2H2A1PCPAU5HZ3GOWZ2GKZMDWFKQ4LOCJNURCOQ3F

### Get Geographical Coordinates for Toronto

In [20]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geographical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geographical coordinate of Toronto are 43.653963, -79.387207.

### Explore the Neighborhoods in Toronto

Define a function to retrieve data from the Foursquare API for the first 50 venues within 500 meters of the center of each Borough in Toronto.  Then display the resulting dataframe.

In [21]:
# Create function to get Venues in the Toronto area
LIMIT = 50
radius = 500

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [22]:
# process each borough

df_toronto_venues = getNearbyVenues(names=df_toronto_data['Neighborhood'],
                                   latitudes=df_toronto_data['Latitude'],
                                   longitudes=df_toronto_data['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
The Beaches West, India Bazaar
Studio District
Lawrence Park
Davisville North
North Toronto West
Davisville
Moore Park, Summerhill East
Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West
Rosedale
Cabbagetown, St. James Town
Church and Wellesley
Harbourfront, Regent Park
Ryerson, Garden District
St. James Town
Berczy Park
Central Bay Street
Adelaide, King, Richmond
Harbourfront East, Toronto Islands, Union Station
Design Exchange, Toronto Dominion Centre
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North, Forest Hill West
The Annex, North Midtown, Yorkville
Harbord, University of Toronto
Chinatown, Grange Park, Kensington Market
CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara
Stn A PO Boxes 25 The Esplanade
First Canadian Place, Underground city
Christie
Dovercourt Village, Dufferin
Little Portugal, Trinity
Brockton, Exhibition Place, Parkdale Village
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Business Reply Mail Processing Centre 969 Eastern

### Display proporties of resulting dataframe

In [23]:
print(df_toronto_venues.shape)
df_toronto_venues.head()

(1165, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Glen Stewart Park,43.675278,-79.294647,Park
4,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood

Let's check how many venues were returned for each neighborhood

In [25]:
df_toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Adelaide, King, Richmond",50,50,50,50,50,50
Berczy Park,50,50,50,50,50,50
"Brockton, Exhibition Place, Parkdale Village",22,22,22,22,22,22
Business Reply Mail Processing Centre 969 Eastern,15,15,15,15,15,15
"CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara",16,16,16,16,16,16
"Cabbagetown, St. James Town",43,43,43,43,43,43
Central Bay Street,50,50,50,50,50,50
"Chinatown, Grange Park, Kensington Market",50,50,50,50,50,50
Christie,15,15,15,15,15,15
Church and Wellesley,50,50,50,50,50,50
"Commerce Court, Victoria Hotel",50,50,50,50,50,50
Davisville,36,36,36,36,36,36
Davisville North,8,8,8,8,8,8
"Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West",15,15,15,15,15,15
"Design Exchange, Toronto Dominion Centre",50,50,50,50,50,50
"Dovercourt Village, Dufferin",20,20,20,20,20,20
"First Canadian Place, Underground city",50,50,50,50,50,50
"Forest Hill North, Forest Hill West",4,4,4,4,4,4
"Harbord, University of Toronto",32,32,32,32,32,32
"Harbourfront East, Toronto Islands, Union Station",50,50,50,50,50,50
"Harbourfront, Regent Park",49,49,49,49,49,49
"High Park, The Junction South",22,22,22,22,22,22
Lawrence Park,4,4,4,4,4,4
"Little Portugal, Trinity",50,50,50,50,50,50
"Moore Park, Summerhill East",4,4,4,4,4,4
North Toronto West,19,19,19,19,19,19
"Parkdale, Roncesvalles",15,15,15,15,15,15
Rosedale,5,5,5,5,5,5
Roselawn,2,2,2,2,2,2
"Runnymede, Swansea",37,37,37,37,37,37
"Ryerson, Garden District",50,50,50,50,50,50
St. James Town,50,50,50,50,50,50
Stn A PO Boxes 25 The Esplanade,50,50,50,50,50,50
Studio District,41,41,41,41,41,41
"The Annex, North Midtown, Yorkville",23,23,23,23,23,23
The Beaches,6,6,6,6,6,6
"The Beaches West, India Bazaar",20,20,20,20,20,20
"The Danforth West, Riverdale",42,42,42,42,42,42

Let's find out how many unique categories can be curated from all the returned venues

In [26]:
print('There are {} uniques categories.'.format(len(df_toronto_venues['Venue Category'].unique())))

There are 213 uniques categories.

### Analyze Each Neighborhood

In [27]:
# one hot encoding
toronto_onehot = pd.get_dummies(df_toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = df_toronto_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]

print(toronto_onehot.shape)
toronto_onehot.head()

(1165, 213)

,Yoga Studio,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [29]:
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
print(toronto_grouped.shape)
toronto_grouped

(38, 213)

,Neighborhood,Yoga Studio,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,...,Thrift / Vintage Store,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Wine Shop,Wings Joint
0,"Adelaide, King, Richmond",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.060000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.00,0.00,0.00
1,Berczy Park,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.00,0.00,0.00
2,"Brockton, Exhibition Place, Parkdale Village",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
3,Business Reply Mail Processing Centre 969 Eastern,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",0.000000,0.0625,0.0625,0.0625,0.125,0.1875,0.125,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
5,"Cabbagetown, St. James Town",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
6,Central Bay Street,0.020000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.02,0.00,0.00
7,"Chinatown, Grange Park, Kensington Market",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.02000,0.000000,0.000000,0.00,0.060000,0.00000,0.060000,0.02,0.00,0.00
8,Christie,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
9,Church and Wellesley,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.020000,0.00,0.00,0.02
10,"Commerce Court, Victoria Hotel",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.040000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
11,Davisville,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.027778,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
12,Davisville North,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
13,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.066667,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.066667,0.00,0.00,0.00
14,"Design Exchange, Toronto Dominion Centre",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,0.000000,...,0.00000,0.000000,0.000000,0.02,0.000000,0.00000,0.000000,0.00,0.00,0.00
15,"Dovercourt Village, Dufferin",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.05,0.00
16,"First Canadian Place, Underground city",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.00,0.00,0.00
17,"Forest Hill North, Forest Hill West",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.250000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
18,"Harbord, University of Toronto",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.03125,0.000000,0.00,0.00,0.00
19,"Harbourfront East, Toronto Islands, Union Station",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.02,0.000000,0.00000,0.000000,0.00,0.00,0.00
20,"Harbourfront, Regent Park",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.020408,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
21,"High Park, The Junction South",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
22,Lawrence Park,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
23,"Little Portugal, Trinity",0.020000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.040000,0.02,0.00,0.00
24,"Moore Park, Summerhill East",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.250000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
25,North Toronto West,0.052632,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
26,"Parkdale, Roncesvalles",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
27,Rosedale,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.200000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
28,Roselawn,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
29,"Runnymede, Swansea",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.027027,0.00000,0.000000,0.00,0.00,0.00
30,"Ryerson, Garden District",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.00,0.00,0.00
31,St. James Town,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.020000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
32,Stn A PO Boxes 25 The Esplanade,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.020000,0.00000,0.000000,0.00,0.00,0.00
33,Studio District,0.024390,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.048780,0.000000,...,0.02439,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
34,"The Annex, North Midtown, Yorkville",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.043478,0.000000,...,0.00000,0.000000,0.000000,0.00,0.043478,0.00000,0.000000,0.00,0.00,0.00
35,The Beaches,0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.166667,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
36,"The Beaches West, India Bazaar",0.000000,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00
37,"The Danforth West, Riverdale",0.023810,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.023810,0.000000,...,0.00000,0.000000,0.023810,0.00,0.000000,0.00000,0.000000,0.00,0.00,0.00

Let's print each neighborhood along with the top 5 most common venues

In [30]:
num_top_venues = 5

for hood in toronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = toronto_grouped[toronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Adelaide, King, Richmond----
                 venue  freq
0          Coffee Shop  0.08
1           Steakhouse  0.06
2                 Café  0.06
3  American Restaurant  0.06
4                Hotel  0.04


----Berczy Park----
          venue  freq
0   Coffee Shop  0.08
1  Cocktail Bar  0.06
2    Steakhouse  0.04
3          Café  0.04
4        Bakery  0.04


----Brockton, Exhibition Place, Parkdale Village----
                    venue  freq
0             Coffee Shop  0.09
1                    Café  0.09
2          Breakfast Spot  0.09
3                     Gym  0.05
4  Furniture / Home Store  0.05


----Business Reply Mail Processing Centre 969 Eastern----
                  venue  freq
0            Comic Shop  0.07
1            Restaurant  0.07
2  Fast Food Restaurant  0.07
3            Smoke Shop  0.07
4           Pizza Place  0.07


----CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara----
              venue  freq
0   Airport Service  0.19
1    Airport Lounge  0.12
2  Airport Terminal  0.12
3          Boutique  0.06
4   Harbor / Marina  0.06


----Cabbagetown, St. James Town----
         venue  freq
0  Coffee Shop  0.07
1         Park  0.05
2  Pizza Place  0.05
3       Bakery  0.05
4         Café  0.05


----Central Bay Street----
            venue  freq
0     Coffee Shop  0.14
1  Ice Cream Shop  0.06
2    Burger Joint  0.06
3            Café  0.06
4             Spa  0.04


----Chinatown, Grange Park, Kensington Market----
                           venue  freq
0                           Café  0.10
1             Mexican Restaurant  0.06
2          Vietnamese Restaurant  0.06
3  Vegetarian / Vegan Restaurant  0.06
4        Comfort Food Restaurant  0.04


----Christie----
               venue  freq
0      Grocery Store  0.20
1               Café  0.20
2               Park  0.13
3          Nightclub  0.07
4  Convenience Store  0.07


----Church and Wellesley----
         venue  freq
0  Coffee Shop  0.06
1          Gym  0.04
2   Restaurant  0.04
3    Gastropub  0.04
4      Gay Bar  0.04


----Commerce Court, Victoria Hotel----
           venue  freq
0    Coffee Shop  0.10
1           Café  0.10
2          Hotel  0.08
3      Gastropub  0.06
4  Deli / Bodega  0.06


----Davisville----
            venue  freq
0     Pizza Place  0.08
1  Sandwich Place  0.08
2    Dessert Shop  0.08
3            Café  0.06
4      Restaurant  0.06


----Davisville North----
               venue  freq
0                Gym  0.12
1               Park  0.12
2  Food & Drink Shop  0.12
3              Hotel  0.12
4     Clothing Store  0.12


----Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West----
          venue  freq
0           Pub  0.13
1   Coffee Shop  0.13
2  Liquor Store  0.07
3    Bagel Shop  0.07
4    Restaurant  0.07


----Design Exchange, Toronto Dominion Centre----
           venue  freq
0           Café  0.14
1    Coffee Shop  0.12
2  Deli / Bodega  0.06
3     Restaurant  0.06
4      Gastropub  0.04


----Dovercourt Village, Dufferin----
            venue  freq
0        Pharmacy  0.10
1     Supermarket  0.10
2          Bakery  0.10
3     Music Venue  0.05
4  Discount Store  0.05


----First Canadian Place, Underground city----
           venue  freq
0           Café  0.12
1    Coffee Shop  0.10
2          Hotel  0.06
3  Deli / Bodega  0.06
4      Gastropub  0.04


----Forest Hill North, Forest Hill West----
              venue  freq
0  Sushi Restaurant  0.25
1             Trail  0.25
2          Bus Line  0.25
3     Jewelry Store  0.25
4       Yoga Studio  0.00


----Harbord, University of Toronto----
                 venue  freq
0                 Café  0.09
1                  Bar  0.06
2  Japanese Restaurant  0.06
3               Bakery  0.06
4            Bookstore  0.06


----Harbourfront East, Toronto Islands, Union Station----
         venue  freq
0  Coffee Shop  0.08
1        Hotel  0.04
2     Aquarium  0.04
3         Café  0.04
4          Bar  0.04


----Harbourfront, Regent Park----
         venue  freq
0  Coffee Shop  0.18
1         Park  0.06
2       Bakery  0.06
3          Pub  0.06
4         Café  0.06


----High Park, The Junction South----
                venue  freq
0  Mexican Restaurant  0.09
1                Café  0.09
2                 Bar  0.09
3              Bakery  0.05
4     Thai Restaurant  0.05


----Lawrence Park----
         venue  freq
0         Park  0.25
1         Lake  0.25
2  Swim School  0.25
3     Bus Line  0.25
4  Yoga Studio  0.00


----Little Portugal, Trinity----
                   venue  freq
0                    Bar  0.10
1            Coffee Shop  0.08
2       Asian Restaurant  0.06
3  Vietnamese Restaurant  0.04
4             Restaurant  0.04


----Moore Park, Summerhill East----
         venue  freq
0   Playground  0.25
1         Park  0.25
2        Trail  0.25
3   Restaurant  0.25
4  Music Store  0.00


----North Toronto West----
                 venue  freq
0       Clothing Store  0.16
1  Sporting Goods Shop  0.11
2          Coffee Shop  0.11
3          Yoga Studio  0.05
4            Pet Store  0.05


----Parkdale, Roncesvalles----
                         venue  freq
0               Breakfast Spot  0.13
1                    Gift Shop  0.13
2                Movie Theater  0.07
3  Eastern European Restaurant  0.07
4                          Bar  0.07


----Rosedale----
         venue  freq
0         Park   0.4
1   Playground   0.2
2        Trail   0.2
3     Building   0.2
4  Music Venue   0.0


----Roselawn----
                     venue  freq
0           Ice Cream Shop   0.5
1                   Garden   0.5
2              Yoga Studio   0.0
3  New American Restaurant   0.0
4              Men's Store   0.0


----Runnymede, Swansea----
                venue  freq
0                Café  0.08
1         Coffee Shop  0.08
2         Pizza Place  0.08
3  Italian Restaurant  0.05
4    Sushi Restaurant  0.05


----Ryerson, Garden District----
                  venue  freq
0           Coffee Shop  0.08
1                  Café  0.06
2      Ramen Restaurant  0.04
3               Theater  0.04
4  Fast Food Restaurant  0.04


----St. James Town----
                 venue  freq
0          Coffee Shop  0.10
1            Gastropub  0.06
2                Hotel  0.06
3           Restaurant  0.06
4  Japanese Restaurant  0.04


----Stn A PO Boxes 25 The Esplanade----
                venue  freq
0                Café  0.06
1        Cocktail Bar  0.06
2         Coffee Shop  0.06
3  Seafood Restaurant  0.04
4         Cheese Shop  0.04


----Studio District----
                venue  freq
0                Café  0.10
1         Coffee Shop  0.07
2           Gastropub  0.05
3  Italian Restaurant  0.05
4              Bakery  0.05


----The Annex, North Midtown, Yorkville----
               venue  freq
0        Coffee Shop  0.13
1     Sandwich Place  0.13
2               Café  0.13
3        Pizza Place  0.09
4  Indian Restaurant  0.04


----The Beaches----
               venue  freq
0  Health Food Store  0.17
1        Coffee Shop  0.17
2                Pub  0.17
3              Trail  0.17
4               Park  0.17


----The Beaches West, India Bazaar----
                  venue  freq
0        Sandwich Place  0.10
1                   Gym  0.05
2          Burger Joint  0.05
3  Fast Food Restaurant  0.05
4     Fish & Chips Shop  0.05


----The Danforth West, Riverdale----
                    venue  freq
0        Greek Restaurant  0.21
1             Coffee Shop  0.10
2          Ice Cream Shop  0.07
3      Italian Restaurant  0.07
4  Furniture / Home Store  0.05

#### Let's put that into a pandas dataframe

First, let's write a function to sort the venues in descending order.

In [32]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Now let's create the new dataframe and display the top 10 venues for each neighborhood.

In [53]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Adelaide, King, Richmond",Coffee Shop,Steakhouse,Café,American Restaurant,Gastropub,Hotel,Pizza Place,Bar,Asian Restaurant,Plaza
1,Berczy Park,Coffee Shop,Cocktail Bar,Farmers Market,Cheese Shop,Bakery,Beer Bar,Steakhouse,Seafood Restaurant,Café,Clothing Store
2,"Brockton, Exhibition Place, Parkdale Village",Breakfast Spot,Café,Coffee Shop,Grocery Store,Falafel Restaurant,Burrito Place,Stadium,Bar,Restaurant,Italian Restaurant
3,Business Reply Mail Processing Centre 969 Eastern,Pizza Place,Auto Workshop,Comic Shop,Restaurant,Burrito Place,Brewery,Skate Park,Smoke Shop,Park,Farmers Market
4,"CN Tower, Bathurst Quay, Island airport, Harbo...",Airport Service,Airport Lounge,Airport Terminal,Coffee Shop,Harbor / Marina,Sculpture Garden,Boutique,Bar,Boat or Ferry,Airport Gate

### Cluster Neighborhoods

Run k-means to cluster the neighborhood into 5 clusters.

In [54]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 2, 2, 1, 2, 2, 2, 2, 2, 2], dtype=int32)

Let's create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

In [55]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = df_toronto_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged.head() # check the last columns!

,Postcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
37,M4E,East Toronto,The Beaches,43.676357,-79.293031,2,Coffee Shop,Park,Health Food Store,Trail,Pub,Cupcake Shop,Eastern European Restaurant,Dumpling Restaurant,Dog Run,Dive Bar
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,2,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,Grocery Store,Restaurant,Pub,Pizza Place,Liquor Store
42,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572,1,Sandwich Place,Pet Store,Food & Drink Shop,Liquor Store,Burger Joint,Burrito Place,Fast Food Restaurant,Italian Restaurant,Steakhouse,Intersection
43,M4M,East Toronto,Studio District,43.659526,-79.340923,2,Café,Coffee Shop,Gastropub,Bakery,Italian Restaurant,American Restaurant,Yoga Studio,Comfort Food Restaurant,Brewery,Sandwich Place
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790,1,Bus Line,Park,Lake,Swim School,Deli / Bodega,Electronics Store,Eastern European Restaurant,Dumpling Restaurant,Dog Run,Dive Bar

### Visualize the Resulting Clusters

In [56]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=12)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters